:root {
	--hs_form_columns-gap: 20px;
	--hs_form_rows-gap: 30px;

	--hs_form_border-color: #9a9a9a;
	--hs_form_text-color: #000;
	--hs_form_error-color: #f00;
}

.form-styles {
	// forms
	form,
	fieldset {
		margin: 0;
		padding: 0;
		border-style: none;
		font-family: $font-sans-serif;
		font-size: 16px;
		line-height: 1;
		color: var(--hs_form_text-color);

		* {
			font-family: inherit;
			color: inherit;
		}

		border: 1px solid var(--hs_form_border-color);
		background: #ccc;
		padding: 15px;
	}

	input[type='text'],
	input[type='tel'],
	input[type='email'],
	input[type='search'],
	input[type='password'],
	input[type='url'],
	input[type='date'],
	textarea,
	select {
		-webkit-border-radius: 0;

		box-sizing: border-box;
		outline: unset;
		box-shadow: none;
		background: unset;
		width: 100% !important;
		border: 1px solid var(--hs_form_border-color);
		padding: 10px;

		// &:hover {

		// }

		&:focus {
			border-color: var(--hs_form_text-color);
		}

		&.error,
		&[aria-describedby*="-error"] {
			border-color: var(--hs_form_error-color);
		}

		@include placeholder {
			color: inherit;
		}

		&:not(:last-child) {
			margin: 0;
		}
	}

	select {
		-webkit-border-radius: 0;
		width: 100% !important;
	}

	textarea {
		resize: vertical;
		vertical-align: top;
		min-height: 75px;
	}

	button,
	input[type='button'],
	input[type='reset'],
	input[type='file'],
	input[type='submit'] {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		cursor: pointer;
		background: $white;
		border: 1px solid $black;
		box-shadow: none;
		padding: .5em 1em;
		color: var(--hs_form_text-color);

		&:not([disabled]):hover {
			border-color: var(--hs_form_text-color);
			background: $gray;
			color: var(--hs_form_text-color);
			transform: none;
		}
	}

	// error
	.hsfc-ErrorAlert,
	.hs-error-msgs {
		@extend %listreset;

		font-size: 12px;
		color: var(--hs_form_error-color);
		margin: 5px 0 0 !important;

		.hs-error-msg {
			margin: 0;
		}
	}

	// label
	.hs-form-field > label,
	.hsfc-FieldLabel {
		display: block;
		line-height: 1;
		margin-bottom: 5px !important;

		span[class] {
			color: var(--hs_form_error-color);
		}
	}

	// legal
	.hsfc-DataPrivacyField,
	.legal-consent-container {
		font-size: 12px;

		& > *:not(:last-child),
		& > .hsfc-Row {
			margin-bottom: calc(var(--hs_form_rows-gap) / 2) !important;
		}
	}

	.hsfc-DataPrivacyField {

		span {
			font-size: inherit !important;
		}
	}

	.legal-consent-container {

		.hs-form-field {
			padding: 0;
			margin: 0;
		}
	}

	// checkbox
	.hsfc-CheckboxFieldGroup__Options,
	ul.inputs-list:has([role="checkbox"]) {
		@extend %listreset;

		background: var(--hs_form_border-color);
	}

	// radio
	.hsfc-RadioFieldGroup__Options,
	ul.inputs-list:has([role="radio"]) {
		--_radio-size: 10px;

		@extend %listreset;

		& > * {
			margin-top: 15px;
			margin-bottom: 0 !important;
		}

		label {
			display: flex;
			align-items: center;
			gap: 0 15px;
			margin-bottom: 0 !important;
		}

		input[type="radio"] {
			flex-shrink: 0;
			position: relative;
			appearance: none;
			background: none;
			border-radius: 50%;
			border: 1px solid var(--hs_form_border-color);
			box-sizing: border-box;
			padding: var(--_radio-size);

			&:checked {

				&:after {
					content: '';
					display: block;
					background: var(--hs_form_border-color);
					position: absolute;
					inset: 0;
					mask-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23253342%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%226%22%2F%3E%3C%2Fsvg%3E');
					mask-repeat: no-repeat;
					mask-position: center;
					mask-size: 100%;
				}
			}
		}
	}
}

// new form
.hs-form-html[id^="hs_form_"] {
	@extend .form-styles;

	.hsfc-Form {

		.hsfc-Step__Content {
			padding: 0;
		}

		.hsfc-Row {
			margin-bottom: var(--hs_form_rows-gap);
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--hs_form_rows-gap) var(--hs_form_columns-gap);

			@include media ('>=phone') {
				grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
			}
		}
	}
}

// old form
div[id^="hs_form_"][data-hs-forms-root="true"] {
	@extend .form-styles;

	.hs-form {

		& > * {
			max-width: none;
			margin-bottom: var(--hs_form_rows-gap);
		}

		fieldset {
			border: 0;
			padding: 0;
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--hs_form_rows-gap) var(--hs_form_columns-gap);

			@include media ('>=phone') {
				grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
			}

			& > * {
				width: 100% !important;
			}
		}

		.input {
			margin: 0 !important;
		}

		// submit
		.hs-submit {
			margin: 0 !important;
		}
	}
}
